@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body
{
font-family: 'Poppins', sans-serif;


}
 :root {
    --primary-color: #a52b2b;
    --reddish:#ef4444;
    --darkgrey: rgb(55 65 81);}

hr {
    margin: 2rem 0rem;
}

/** spaces **/

.margin-md {
    margin: 2rem;
}

/** container **/
.container {
    padding: 0rem 1rem;
}

.container-center {
    max-width: 600px;
    margin: auto;
}

/** links **/
.link {
    box-sizing: border-box;
    text-decoration: none;
    padding: 0.5rem 1rem;
    text-align: center;
    margin:auto;
}

.link-primary {
    background-color: var(--primary-color);
    border-radius: 0.3rem;
    color: white;
    display: block;
    max-width: 130px;
    margin: 1rem 1rem 1rem 0rem;
}
.link-secondary {
    color: var(--primary-color);
    border-radius: 0.3rem;
    border: solid var(--primary-color);
    display: block;
    max-width: 130px;
    margin: 1rem 1rem 1rem 0rem;
}

/** look into BEM naming convention for CSS **/

/** lists **/

.list-non-bullet {
    list-style: none;
    padding-inline-start: 0px;
}

.list-inline-item {
    display: inline;
    padding: 0rem 0.5rem;
}

/** navigation **/

.navigation {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
}

.navigation .nav-brand {
    font-weight: bold;
}

.navigation .nav-pills {
    text-align: right;
}

.navigation .link {
    color: white;
}

.navigation .link-active {
    font-weight: bold;
}

/** header **/

.hero {
    padding: 2rem;
    padding-top: 5rem;

}

.hero .hero-img {
    max-width: 80%;
    width: 350px;
    display: block;
    margin: auto;
}

.hero .hero-heading {
    text-align: center;
    padding-top: 1rem;
    color: var(--grey);
}

.hero  .hero-heading .heading-inverted{
    color: var(--primary-color);


}
.hero p {
    max-width: 700px;
    text-align: center;
    margin:auto
}

/** sections **/

.section {
    padding: 1rem;
    border:2px solid var(--primary-color);
    max-width: fit-content;
    margin:auto;
    text-align: center;

    }
.section-home {
    padding: 1rem;
    max-width: fit-content;
    margin:auto;

    }
 

.section h1 {
        color:var(--primary-color);
        text-align: center;

}
/** footers **/

.footer {
   
    background-color: var(--primary-color);
    padding: 1rem 1rem;
    text-align: center;
    color: white;
    border-top-right-radius: 1rem;
}

.footer .link {
    color: white
}

.footer .footer-header {
    font-weight: bold;
    font-size: large;
}

.footer ul {
    padding-inline-start: 0px;
}

/** Projects **/
.showcase-list {
    padding: 2rem;
}

/** Blogs **/
.showcase-blog {
    padding-bottom: 6rem;
}
.page-header{
color:var(--darkgrey);
text-align: center;

}
